@import '../../../../styles/styles';
.inputStyle {
    @include text-small;
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
    color: #4b4165;
    border-radius: 5px;
    background-color: #f5f6f7;
    border-color: transparent;
    border-top: 2px solid #e7eaea;
}
.inputStyle:focus {
    outline: none;
    border: 2px solid #e7eaea;
}
.inputDisable {
    border: 2px solid #e7eaea;
    color: grey;
}
