@font-face {
  font-family: "Champagne";
  src: url("../fonts/Champagne&Limousines.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Champagne";
  src: url("../fonts/Champagne&LimousinesBold.ttf") format("truetype");
  font-weight: bold;
}
